@{
    ViewBag.Title = "You Dun Goof'd";
	ViewBag.ErrorNo = 404;
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<p>Page not found. You might have clicked a dead link, or you might have typed an invalid link into your URL bar. Either way, it's over.</p>