@model MtgDraftRecorder.ViewModels.PlayerModel

@{
    ViewBag.Title = "Success";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName @Model.LastName was successfully added to the database!</h2>
